html {
  height: 100%;
}

body {
  background: #eee;
  height: 100%;

  .mui-textfield > input:focus ~ label,
  .mui-textfield > textarea:focus ~ label {
    color: $blue-background;
  }

  .mui-textfield > input:focus,
  .mui-textfield > textarea:focus {
    border-color: $blue-background;
  }
}

.header {
  margin-bottom: 10px;
  background-color: $blue-background;
  position: relative;

  &__navigation {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -0.625em;

    &_link {
      color: #eee;
      font-size: 1.5rem;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  &__logo {
    background-image: url('./images/logo.png');
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    width: 205px;

    & a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: block;
    }
  }
}

.list {
  border: 2px solid $blue-background;
  @include borderRadius(5px);
  padding: 5px 5px;

  &__child {
    margin-left: 10px;
  }

  &__header {
    display: block;
    cursor: pointer;
  }

  &__item {
    cursor: pointer;

    &.active {
      background: $blue-background;
      color: #eee;
    }

    &:hover {
      background: $blue-background;
      color: #eee;
    }
  }

  &__selected_items {
    padding: 0 5px;
    @include borderRadius(5px);
    cursor: pointer;

    &:hover {
      background: $blue-background;
      color: #eee;
    }

    &.active {
      background: $blue-background;
      color: #eee;
    }
  }
}

.file-description {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  margin: 0 0 10px 0;
  background: #eee;
  padding: 10px;
}

.hidden {
  display: none;
}

.button {
  background: $blue-background;
  color: #fff;

  &:hover {
    background: $blue-background;
    color: #fff;
  }

  &:focus {
    background: $blue-background;
    color: #fff;
  }
}

.modal {
  display: block;
  width: 500px;
  min-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  z-index: 9999;
  background: #eee;
  @include transition();

  &__content {
    padding: 10px;

    &_question {
      font-weight: bold;
      padding: 20px 10px;
    }
  }

  &__body {
    padding-top: 10px;
  }

  &__header {
    padding: 10px 0;
    margin: 0;
    color: #eee;
    background: $blue-background;
  }

  &__form {
    display: block;

    &_group {
      position: relative;
    }
  }

  &__textarea textarea {
    resize: vertical;
  }

  &__footer {
    position: absolute;
    bottom: -44px;
    background: #eee;
    right: 10px;
    left: 0;
    width: 100%;
    @include clearfix();
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
  }

  &__close_btn {
    border: 2px solid $blue-background;
    color: $blue-background;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: -9px;
    right: -9px;
    background: #eee;
    text-align: center;
    @include transition();

    &:hover {
      background: $blue-background;
      color: #eee;
      border-color: #eee;
    }
  }

  &__btn {
    color: $blue-background !important;
    background: #eee !important;
    margin-right: 10px;

    &:hover {
      color: #eee !important;
      background: $blue-background !important;
    }
  }

  &:focus {
    outline: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  @include transition();
}

.group__list {
  position: absolute;
  top: 48px;
  width: 100%;
  background: #eee;
  z-index: 2;
  border: 1px solid $blue-background;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;

  &_item {
    cursor: pointer;

    &:hover {
      background: $blue-background;
      color: #eee;
    }
  }
}

.modal__content_scripts {
  @include clearfix();
}

.scripts__list {
  width: 65%;
  float: left;

  &_item {
    border: 1px solid #ccc;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 5px 5px;
    cursor: pointer;

    &:hover {
      background: $blue-background;
      color: #fff
    }
  }
}

.dropdown-btn {
  position: absolute;
  top: 25px;
  right: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.input_error {
  color: $error-text-color;
  font-size: 1.2rem;
}

.file {
  position: relative;

  &__name {
    padding: 5px;
    background: #ccc;
  }

  &__description {
    padding: 5px;
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.8rem;
    color: $blue-background;

    &_item {
      cursor: pointer;
    }
  }

  &-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__footer {
    padding: 5px 15px;
    background: #eee;
    @include clearfix();
  }
}

.minions-list {
  margin-bottom: 0;

  &__item {
    display: block;
    @include clearfix();

    &.minions-list__header {
      background: $blue-background;
      color: #eee;
    }
  }

  &__header span {
    width: 49%;
    border-right: 1px solid #eee;
  }
}

.minions-tabs .mui-tabs__bar > li.mui--is-active {
  border-bottom: 2px solid $blue-background;
}

.minions-tabs .mui-tabs__bar > li.mui--is-active > a {
  color: $blue-background;
}

.block-list {
  border: 2px solid $blue-background;
  padding: 10px;
  @include borderRadius(6px);
  position: relative;
  margin-bottom: 15px;

  &__header {
    font-size: 1.2rem;
    position: absolute;
    background: #eee;
    padding: 0 5px;
    top: -18px;
    left: 20px;
  }

  &.block-list__table {
    padding: 0 0 43px 0;
  }

  & table {
    margin-bottom: 0;
    border-collapse: collapse;

    & .table__head {
      background: $blue-background;
      color: #eee;
      text-transform: uppercase;
      border-left: 2px solid #eee;

      &:first-child {
        border-left: none;
      }
    }

    & tr {
      border-bottom: 2px solid $blue-background;

      & td {
        border-left: 2px solid $blue-background;
      }

      & td:first-child {
        border-left: none;
      }
    }
  }
}

.right-block-list {
  padding-top: 10px;
}

.object {
  margin-left: 10px;
  @include clearfix();

  &__key {
    font-weight: bold;
  }

  &__value {
    margin-left: 15px;

    & .object {

      &__key {
        float: left;
      }

      &__value {
        float: left;
        margin-left: 15px;
      }
    }
  }
}

.tree-list__item {
  position: relative;
  color: $blue-background;
  @include clearfix();

  &_actions {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  &_action {
    cursor: pointer;
    color: $blue-background;
  }

  &_header {
    @include clearfix();
  }
}

.minion-details {
  position: relative;

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
  }

  &__action {
    cursor: pointer;
    color: $blue-background;
  }
}

.select-items {
  position: relative;
}

.add-items-actions {
  height: 60px;
  width: 25px;
  position: absolute;
  margin: auto;
  right: -20px;
  top: 0;
  bottom: 0;
}

.add-items-action {
  cursor: pointer;
  padding: 5px;
  background: $blue-background;
  color: #eee;
  @include transition();

  &:hover {
    background: #eee;
    color: $blue-background;
  }
}

.posr {
  position: relative;
}

.added-list {
  margin-left: 20px;
}

.header__center {
  margin-left: 15px;
}